@page "/calculator"

<PageTitle>Calculadora</PageTitle>

<h1>Calculadora</h1>

<div>
    <input class="form-control" type="text" placeholder="Histórico" readonly>
    <input class="form-control" type="text" placeholder="Valor" readonly>

    <div class="btn-group-vertical" role="group" aria-label="Button group">
        <div class="flex-column">
            <button type="button" class="btn btn-outline-primary">AC</button>
            <button type="button" class="btn btn-outline-primary">DEL</button>
        </div>
        <div class="flex-column">
            <button type="button" class="btn btn-outline-primary">7</button>
            <button type="button" class="btn btn-outline-primary">8</button>
            <button type="button" class="btn btn-outline-primary">9</button>
            <button type="button" class="btn btn-outline-primary">/</button>
        </div>
        <div class="flex-column">
            <button type="button" class="flex-fill btn btn-outline-primary">4</button>
            <button type="button" class="flex-fill btn btn-outline-primary">5</button>
            <button type="button" class="flex-fill flex-fill btn btn-outline-primary">6</button>
            <button type="button" class="flex-fill btn btn-outline-primary">x</button>
        </div>
        <div class="flex-column">
            <button type="button" class="btn btn-outline-primary">1</button>
            <button type="button" class="btn btn-outline-primary">2</button>
            <button type="button" class="btn btn-outline-primary">3</button>
            <button type="button" class="btn btn-outline-primary">-</button>
        </div>
        <div class="flex-column">
            <button type="button" class="btn btn-outline-primary">0</button>
            <button type="button" class="btn btn-outline-primary">.</button>
            <button type="button" class="btn btn-outline-primary">=</button>
            <button type="button" class="btn btn-outline-primary">+</button>
        </div>
    </div>
</div>



@code {

}
