@page "/router"
@page "/router/{group}/{id:int?}"
@page "/router/{*all}"

@* USO DE CONSTANTES *@
@attribute [Route(RoutersConstants.RouterHub)]

@* PARA NAVEGAR ENTRE PAGINAS *@
@inject NavigationManager Navigation 

@rendermode InteractiveServer

@*
    adicionando ?, torna o parametro opcional
    @attribute [Route(RoutersConstants.RouterHub)]
*@

<h3>Router</h3>
<div>
    TODOS: @All
    <br />
    GRUPO: @Group
    <br />
    Id: @Id
    <br />
    QueryString: @Nome - @Nome2
    <br />
    <input class="form-control" @bind="RouterInput" />
    <br />
    <button class="bg-primary" @onclick="OnClick">Navegar</button>
</div>

@code {

    public string? RouterInput { get; set; }

    //O ALL {*all} pega todos os parametros e atribui a variavel
    [Parameter]
    public string? All { get; set; }

    [Parameter]
    public string? Group { get; set; }

    [Parameter]
    public int? Id { get; set; }

    //ATRIBUI O PARAMETRO A VARIAVEL PASSADA PELA QUERY exemlo url?nome=tal
    [SupplyParameterFromQuery]
    public string? Nome { get; set; }

    //MESMA COISA MAS FILTRADO
    [SupplyParameterFromQuery(Name = "dono")]
    public string? Nome2 { get; set; }

    //REDIRECIONA PARA A PAGINA ESPECIFICADA
    public void OnClick()
    {
        Navigation.NavigateTo(RouterInput);
    }
}